{% extends "load_planer/layout.html" %}
{% load static %}

{% block body %}
    
    <div class="container text-center">
        <h1> Delivery plans</h1>
        
    {% if delivery_plan_list %}
        {% for delivery_plan in delivery_plan_list%}
            {{ delivery_plan }}<br>
        {% endfor %}
    {% endif %}

    {% if form %}
    <p> FORM HERE!</p><br>
    <!-- <form action="#" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Register" class="btn btn-primary form-control">
    </form> -->
    {% else %}
        <p>No form to display</p>
    {% endif %}
        <div id="delivery_plan_form">
            <br><p> Delivery Plan Form:</p><br>
        </div>

    </div>  

    
{% endblock %}


{% block script %}
    <script src="{% static 'load_planer/delplanform.js' %}" type="text/javascript"></script>
{% endblock %}