{% extends "load_planer/layout.html" %}
{% load static %}

{% block body %}
<div class="container text-center" >
    <div class="row row-cols-4" id="top_nav_row"></div>
    <br>
    <div class="row">
        <div id="profile_main" class="col-12 col-md-9">
            <div class="row">
                <h4>Destination details:</h4> 
            </div>
            <div class="row row-cols-2">
                <div class="col text-end">
                    <img src="{% static 'load_planer/img/map.jpg' %}" style="width:400px;height:300px;border-radius:2%;" alt="My image">
                </div>
                <div class="col"> 
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><strong>{{destination_id}}</strong></li>
                        <li class="list-group-item">Address: {{address}}</li>
                        <li class="list-group-item">zip/post index: {{zipcode}}</li>
                        <li class="list-group-item">tel. {{contact_number}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}