{% extends "load_planer/layout.html" %}
{% load static %}

{% block body %}
    
    <div class="container text-center">
        <h1> Drivers</h1>
        
        <p> TODO: </p>
        <p> register a Driver</p>
        <p> display a list of registred Drivers</p>
        
        {% if driver_list %}
            {% for driver in driver_list %}
                {{ driver }}<br>
            {% endfor %}
        {% else %}
        <p> No drivers in the list</p>
        {% endif %}
        <br> <br>
        {% if verified_drivers %}
            {% for item in verified_drivers %}
            {{ item }} 
            <p>verify driver {{ item.username }}</p>
            <br>
            {% endfor %}
        {% else %}
            <p> You have no verified drivers.</p>
        {% endif%}
    </div>  
{% endblock %}