{% extends "load_planer/layout.html" %}
{% load static %}

{% block body %}
    <div class="container text-center" >
        <div class="row row-cols-4" id="top_nav_row"></div>
        <br>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row">
                    <h4>List of registred and verified drivers:</h4>
                </div>
                <div class="row row-cols-3">
                    {% for driver in verified_drivers %}
                    <div class="col-12 col-md-4 mb-2">
                        <div class="card border-success mb-3">
                            <div class="card-header">
                                <a href="{% url 'profile' driver.uid %}"> {{ driver.driver_id }} </a>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item card-text">username: {{ driver.username }}</li>
                                <li class="list-group-item card-text">Name: {{ driver.first_name }}</li>
                                <li class="list-group-item card-text">Lastname: {{ driver.last_name }}</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>   
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="col-md text-center">
                    <div class="row">
                        <h4>Unverified driver:</h4>
                    </div>
                    <div class="row" id="unver_driver">
                        {% if un_verified_driver.length != 0 %}
                            <!-- in case we will need to display more than one result in the future -->
                            {% for driver in un_verified_drivers %}
                            <div class="col">
                                <div class="card border-warning mb-3">
                                    <div class="card-header">
                                        <a href="{% url 'profile' driver.uid %}"> {{ driver.driver_id }} </a>
                                    </div>
                                    <ul class="list-group list-group-flush" >
                                        <li class="list-group-item card-text">username: {{ driver.username }}</li>
                                        <li class="list-group-item card-text">Name: {{ driver.first_name }}</li>
                                        <li class="list-group-item card-text">Lastname: {{ driver.last_name }}</li>
                                        <li class="list-group-item card-text" id="button_li">{{driver.uid}}</li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>  
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block script %}
   <script src="{% static 'load_planer/plannerNav.js' %}" type="text/javascript"></script>
   <script src="{% static 'load_planer/driverVer.js' %}" type="text/javascript"></script>
{% endblock %}