{% extends "load_planer/layout.html" %}
{% load static %}

{% block body %}
    
    <div class="container text-center">
        <h1> Tours</h1>
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        {% if tours %}
        {% for tour in tours %}
        <div class="row" style="background-color: rgb(151, 146, 146);">
          <div class="col-md-12">Tour ID</div>
        </div>
        {% endfor %}
        {% else %}
        <p>There's no tour ready for you, at the moment.</p>
        {% endif %}


        {% if user.is_authenticated %}
        <p> Authenticated</p>

        {}
        {% endif %}
    </div>  
{% endblock %}