{% extends "load_planer/layout.html" %}
{% load static %}

{% block body %}
    
    <div class="container text-center">
        <h1> Trucks</h1>
        
        <p> TODO: </p>
        <p> register a truck</p>
        <p> display a list of registred trucks</p>

        <form action="#" method="post">
            {% csrf_token %}
            {{ truck_form }}

            <input type="submit" value="Register Truck" class="btn btn-primary form-control">
        </form>


    </div>  
{% endblock %}