{% extends "load_planer/layout.html" %}
{% load static %}

{% block body %}
    <div class="container text-center" >
        <div class="row row-cols-4" id="top_nav_row"></div>
        <br>
        <div class="row">
            <div id="truck_main" class="col-12 col-md-8">
                <div class="row">
                    <h4>List of registred Trucks:</h4>
                </div>
                <div class="row row-cols-3">
                    {% for truck in trucks %}
                    <div class="col">
                        <div class="card border-success mb-3">
                            <div class="card-header">
                                <strong>{{ truck.truck_id }}</strong>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item card-text">Maximum EUR pallets: {{ truck.pallet_size }}</li>
                                <li class="list-group-item card-text">Temperature zones: {{ truck.zones }}</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>   
            </div>
            <div id="truck_right" class="col-12 col-md-4 mb-2">
                <div class="col-md text-start">
                    <h4 class="text-center"> Register new Reefer/Truck:</h4>
                    <form action="{% url 'trucks' %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Truck/Reefer id:</div>
                                </div>
                                {{ truck_form.truck_id }}
                                </div>  
                        </div>
                        <div class="form-row">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Number of full loaded EUR pallets:</div>
                                </div>
                                {{ truck_form.pallet_size }}
                                </div>  
                        </div>
                        <div class="form-row">
                            <div class="col-auto">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">number of Temperature contol zones:</div>
                                    </div>
                                    {{ truck_form.zones }}
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Register Truck" class="btn btn-success form-control">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'load_planer/plannerNav.js' %}" type="text/javascript"></script>
    <script src="{% static 'load_planer/trucks.js' %}" type="text/javascript"></script>
{% endblock %}